<script src="/js/cadastro.js"></script>
    <body>
        <h6>Cadastrar</h6>
            <div class="d-flex grid">
                <div class="form-floating mb-3">
                    <label for="inputNome">Nome Completo:</label>
                    <input
                    type="text"
                    class="form-control"
                    id="inputNome"
                    placeholder="Ex: Rodrigo oliveira"
                    />
                </div>
                <div class="form-floating">
                    <label for="inputEmail">Email:</label>
                    <input
                    type="email"
                    class="form-control"
                    id="inputEmail"
                    placeholder="name@example.com"
                    />
                </div>
            </div>
            <div class="d-flex grid">
                <div class="form-floating mb-3">
                    <label for="inputNasc">Data de nascimento:</label>
                    <input
                    type="text"
                    class="form-control"
                    id="inputNasc"
                    placeholder="14/03/2003"
                    />
                </div>
                <div class="form-floating">
                    <label for="inputEnd">Endereço:</label>
                    <input
                    type="text"
                    class="form-control"
                    id="inputEnd"
                    placeholder="Rua teste, n°72"
                    />
                </div>
            </div>
            <div class="d-flex grid">
                <div class="form-floating mb-3">
                    <label for="inputCep">CEP:</label>
                    <input
                    type="text"
                    class="form-control"
                    id="inputCep"
                    placeholder="19160-000"
                    />
                </div>
                <div class="form-floating mb-3">
                    <label for="inputTel">Telefone:</label>
                    <input
                    type="text"
                    class="form-control"
                    id="inputTel"
                    placeholder="19160-000"
                    />
                </div>
            </div>
            <button class="btn btn-primary" onclick="cadastrar()">Cadastrar</button>
    </body>
